**/node_modules
**/.DS_Store
**/.env*
**/_ignore_

# I added these:
dist
.turbo
jsconfig.tsbuildinfo
.env
**/*.swagger.json

# Generated proto output (run pnpm run generate:proto to regenerate)
**/proto/generated
.pnpm-store
